{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-use-before-define": ["error", { "variables": false }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.spec.js", "**/*.integration.js"] }],
    "no-multi-str": 0,
    "max-len": "off",
    "semi": "off",
    "comma-dangle": "off",
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "padded-blocks": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "no-await-in-loop": "off",
    "no-continue": "off",
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["memo", "map"]
    }]
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "globals": {
    "factory": true
  }
}
