# dependencies
/node_modules

# Environment variables
.env*

# Docs
docs

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# IDE
.idea

# adminjs components
.adminjs
