# dependencies
/node_modules

# Environment variables
.env*

# Docs
docs

# Logs
logs
*.log
npm-debug.log*

# Telagram
/_td_database
_td_files


# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# IDE
.idea
jsconfig.json

# adminjs components
.adminjs
.vscode
